.table__text {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  line-height: 1.2;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 20px;
}

.table__text:last-child {
  margin-bottom: 0;
}
